.card{
  width: 300px;
  height: 200px;
  background-color: rgb(239, 163, 239);
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  border-radius: 30px;
  margin: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
}
h1{
  font-size: 30px;
  color: purple;
}
p{
  margin-top: 10px;
  font-size: 20px;
  color: rgb(91, 64, 91);
}